<div class="cal-month-day <%= cls %>">
	<div class="pull-right">
		<span data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>">
			<b>#</b><%= day %>
		</span>
		<br/>
		<button type="button" schedulable="<%= data_day %>" class="btn btn-sm btn-default"><span class="fa fa-plus"></span></button>
	</div>
	<%= _.day.monthly( data_day ) %>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.code %>: <%= event.title %>"></a>
			<% }); %>
		</div>
	<% } %>
</div>
